{
  "feedinfo": {
    "name": "yaraintegration",
    "display_name": "Yara integration",
    "provider_url": "https://torproject.org/",
    "summary": "This feed is a list of Tor Node IP addresses, updated every 30 minutes.",
    "tech_data": "There are no requirements to share any data to receive this feed.",
    "icon": "tor.png",
    "icon_small": "tor.small.png",
    "category": "Open Source"
   }, 
   "reports": {{range .reports}} {
    "timestamp" : {{now }},
    "id" : {{.ID}},
    "link": "www.google.com",
    "title": {{.RuleName}},
    "score": {{.Score}},
    "iocs" : {"md5":{{.BinaryHash}}}      
   }, {{end}}
}
